@font-face {
    
    font-family: MouldyCheeseRegular;
    src: url(MouldyCheeseRegular-WyMWG.ttf);
  }

h1 {
    font-family: MouldyCheeseRegular, serif;
    padding-top: 8%;
   
}

.gray {
    color: gray
}

.bold {
    font-weight: bold;
}

#fldHoldList {
    border: 0;
}

input[type='text']:focus {
    outline: none;
}

li {
    cursor: pointer;
}
  
textarea:focus, input:focus{
    outline: none;
}
  
.btnCircle{
    margin: 2px;
}
  
option {
    cursor: pointer;
}

/*option:hover {
    color: blueviolet;
  }*/
  
  .listening {
    /*height:10px;
    width:10px;
    background:#F48908;
    border: 2px solid #fff;*/
    border-radius: 25px;
    box-shadow: 0px 1px 5px #888888;
    transform-origin:50% 50%;
    transform:scale(1);
    animation: pulse 0.6s infinite linear alternate;
    -webkit-animation: pulse 0.6s infinite linear alternate;
}
@keyframes pulse {
    to {
        transform:scale(1.1);
    }
}
@-webkit-keyframes pulse {
    to {
        transform:scale(1.1);
    }

      
}

#btnVoice:disabled {
    /*background-color: red;
    color: linen;*/
    opacity: 1;
  }
